* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fallback_font;
    src: url('./Open_Sans/');
}
@font-face {
    font-family: headerFont;
    src: url('https://fonts.cdnfonts.com/css/monument-extended');
}
body{
    font-family: 'Monument Extended', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #e66b13, #e73c7e, #b123d5, #f5f5f5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* menu */

li {
    display: inline;
    float: right;
    padding: 15px;
    font-family: 'Monument Extended', sans-serif;
    color: black;
    font-size: 25px;
}
a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* heading */

#intro {
    color: black;
    font-family: 'Monument Extended', sans-serif;
    padding: 200px 20px 0px 100px;
}
.greeting{
    font-size: 150px;
    font-weight: lighter;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}
.name{
    font-size: 110px;
    
}
@media (max-width: 800px){
    .name{
        font-size: 80px;
    }
}
.mini-bio{
    font-size: 30px;
    font-weight: lighter;
}


